= data[:question]
= form_tag quiz_send_answer_path(data[:quiz_id]), id: 'answer', remote: true do
  = hidden_field_tag 'question_id', data[:question_id]
  = hidden_field_tag 'team_id', data[:team_id]
  = text_field_tag 'body', '', class: 'form-control code'
  = submit_tag 'Submit', class: 'btn btn-primary btn-lg btn-block'
/ We'll need a function attached to this button to hide the form and say 'You submitted an answer'
