.box
  %h1 Play the game
  = form_tag access_quiz_path, method: :post do
    = text_field_tag :code, nil, placeholder: 'Enter your code', class: 'form-control code'
    = submit_tag 'Submit', class: 'btn btn-primary btn-lg btn-block'
  %span
    .top_space.center
      - if current_user
        = link_to 'Quizmaster Dashboard', quizmaster_dashboard_path
      - else
        = link_to 'Log in as Quizmaster', new_user_session_path
