.box
  %h1 Create a new quiz

  = form_tag action: 'create', remote: true, class: 'form-group' do |f|
    .form-group
      = label_tag :name
      = text_field_tag :name

      = label_tag :question
      = text_field_tag :question
      = label_tag :answer
      = text_field_tag :answer

      = submit_tag 'Create', id: 'create', class: 'btn btn-primary'
