.big-box
  .row
    .col-sm-12.col-md-4
      %h4 Quizmaster
    .col-sm-12.col-md-4
      %h1= @quiz.name
    .col-sm-12.col-md-4
      %h4
        Code:
        %code= @quiz.code
  .results_div
    - @quiz.teams.each do |team|
      .question
        %p
          = team.name
        .score{class: 'score'}
          = team.answers.where(is_correct: true).count
  .links
    = link_to 'Send Results', quizmaster_send_results_path(@quiz), method: :post, remote: true, class: 'btn btn-primary', id: 'send_results', onclick:"javascript:$(this).text('Resend Results');"
    = link_to 'Back to Questions', quizmaster_quiz_path(@quiz), class: 'btn btn-success'
