.big-box
  .row.center
    .col-sm-12.col-md-4
      %h4 Quizmaster
    .col-sm-12.col-md-4
      %h1= @quiz.name
    .col-sm-12.col-md-4
      %h4
        Code:
        %code= @quiz.code
  - unless @quiz.is_started?
    .activate_quiz
      = form_tag quizmaster_path(@quiz), id: 'start_quiz', remote: true do
        = hidden_field_tag 'welcome', true
        = text_field_tag 'message', nil, placeholder: 'Welcome message', class: 'form-control code'
        = submit_tag 'Start the Quiz', id: 'start_button', class: 'btn btn-primary btn-lg btn-block'
  - else
    .quiz_started_extra
      %p You have started the quiz!
  .quiz_started
    %p You have started the quiz!

  .questions
    - @questions.each_with_index do |question, index|
      .question{id: "question#{question.id}"}
        %p
          = "#{index.to_i + 1}."
          = question.body
        = form_tag quizmaster_send_question_path, id: 'send_question', remote: true do
          = hidden_field_tag 'id', @quiz.id
          = hidden_field_tag 'welcome', false
          = hidden_field_tag 'index', (index.to_i + 1)
          = hidden_field_tag 'question_id', question.id
          - unless question.is_sent?
            .btn-group#send
              = submit_tag 'Send', id: "send_button#{question.id}", class: 'btn btn-sq-sm btn-warning'
          - else
            .btn-group
              = link_to 'Correct', quizmaster_correct_answers_path(question), id: "correct_button_#{question.id}", class: 'btn btn-sq-sm btn-success'
          .btn-group#correct
            = link_to 'Correct', quizmaster_correct_answers_path(question), id: "correct_button_#{question.id}", class: 'btn btn-sq-sm btn-success'
  .links
    = link_to 'Results', quizmaster_results_path(@quiz), class: 'btn btn-primary'
    = link_to 'Reset the Quiz', quizmaster_reset_quiz_path(@quiz), class: 'btn btn-success', data: {confirm: 'Are you sure? Resetting the quiz will delete all answers.'}


:javascript
  $(document).ready(function () {
    $('.quiz_started').hide();
    $('#start_button').click( function(){
      $('.activate_quiz').hide();
      $('.quiz_started').show();
    });
    $('[id^=send_button]').click(function(){
      $(this)[0].style.display = "none";
      $(this).parent().parent().find('#correct')[0].style.display = "inline-block";
    });
  });
