!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Quizmaster
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
  %body
    - unless notice.nil?
      .box{style: 'background-color: light-green;'}
        %span.notice= notice
    - unless alert.nil?
      .box{style: 'background-color: red;'}
        %span.alert= alert
    = yield
    .logo.center{style: 'margin-top: 20px;'}
      %p
        = link_to((image_tag 'logo_with_name_black.png', {style: 'width: 100px; height: auto;'}), 'http://www.craftacademy.se', target: '_blank')
